<%- include("partials/header") %>

<style>
    .container{
        margin:2rem auto 2rem auto;
        border:1px solid black;
        width:35%;
    }
    .formcontent{
        text-align: center;
    }
</style>

<% let months = new Map();
    months.set(1,"January");
    months.set(2,"February");
    months.set(3,"March");
    months.set(4,"April");
    months.set(5,"May");
    months.set(6,"June");
    months.set(7,"July");
    months.set(8,"August");
    months.set(9,"September");
    months.set(10,"October");
    months.set(11,"November");
    months.set(12,"December"); %>

<% let days = new Map();
    days.set(1,"Monday");
    days.set(2,"Tuesday");
    days.set(3,"Wednesday");
    days.set(4,"Thursday");
    days.set(5,"Friday");
    days.set(6,"Saturday");
    days.set(7,"Sunday"); %>


<div class="container">
    <div class="formcontent">
        <div>
            <h3>New Competition</h3>
        </div>
        <div class="inputarea">
            <form action="/cordhome/<%=fest%>" method="POST">
                <div class="formentity">
                    <input type="text" name="name" placeholder="Name of Competition" required>
                </div>
                <hr>
                <div class="formentity" style="position: fixed;">
                    <label for="type">Type of Competition:</label>
                    <select id="events" onchange="disableevent()" name="events" required>
                    <option value="Event Type" disabled selected>Event type</option>
                    <option value="competitionss">Competition-single</option>
                    <option value="competitionsd">Competition-dual</option>
                    <option value="concerts">Concerts</option>
                    </select>
                </div>
                <hr>
                <div class="formentity">
                    <% let suffix;
                    switch((festfrom.getDate())%10) {
                        case 1: suffix = "st";
                                break;
                        case 2: suffix = "nd";
                                break;
                        case 3: suffix = "rd";
                                break;
                        default: suffix = "th";
                    } %>
                    <%switch((festto.getDate())%10) {
                        case 1: suffix = "st";
                                break;
                        case 2: suffix = "nd";
                                break;
                        case 3: suffix = "rd";
                                break;
                        default: suffix = "th";
                    } %>
                    <input type="date" name="date" title="Date of Event is between <%=festfrom.getDate()%><%=suffix%> <%=months.get(festfrom.getMonth()+1)%> 
                    <%=festfrom.getFullYear()%>, 
                    <%=days.get(festfrom.getDay())%> to <%=festto.getDate()%><%=suffix%> <%=months.get(festto.getMonth()+1)%> 
                    <%=festto.getFullYear()%>, 
                    <%=days.get(festto.getDay())%>" required>
                </div>
                <div class="formentity">
                    <label for="time">Start Time:</label>
                    <select name="shours" onmousedown="if(this.options.length>8){this.size=8;}" onchange='this.size=0;' onblur="this.size=0;">
                        <% for(var i=0;i<24;i++) { %> 
                            <option value="<%=i%>"><%if(i<10){%>0<%}%><%=i%> </option>
                        <%} %>
                    </select>
                    <span>:</span>
                    <select name="sminutes" onmousedown="if(this.options.length>8){this.size=8;}" onchange='this.size=0;' onblur="this.size=0;"">
                        <% for(var i=0;i<60;i++) { %> 
                            <option value="<%=i%>"><%if(i< 10){%>0<%}%><%=i%></option>
                        <%}%>
                    </select>
                </div>
                <div class="formentity">
                    <label for="time">End Time:</label>
                    <select name="ehours"onmousedown="if(this.options.length>8){this.size=8;}" onchange='this.size=0;' onblur="this.size=0;"">
                        <% for(var i=0;i<24;i++) { %> 
                            <option value="<%=i%>"><%if(i/10 < 1){%>0<%}%><%=i%> </option>
                        <%}%>
                    </select>
                    <span>:</span>
                    <select name="eminutes" onmousedown="if(this.options.length>8){this.size=8;}" onchange='this.size=0;' onblur="this.size=0;"">
                        <% for(var i=0;i<60;i++) { %> 
                          <option value="<%=i%>"><%if(i/10 < 1){%>0<%}%><%=i%></option>
                        <%}%>
                    </select>
                </div>
                <div>
                    <label for="address">Address:</label>
                    <input name="address"  type="text" placeholder="Address" required>
                </div>
                <div>
                    <label for="city">City:</label>
                    <input name="city" type="text" placeholder="City" required>
                </div>
                <div class="formentity">
                    <label for="venue">Venue:</label>
                    <input type="text" name="venue" placeholder="Venue" required>
                </div>
                <div class="formentity">
                    <label for="voting">Will there be any voting?</label>
                    <select name="voting" required>
                        <option value="select" disabled selected>Select</option>
                        <option class="ans" value="no">No</option>
                        <option class="ans" value="yes">Yes</option>
                    </select>
                </div>  
                <div class="formentity">
                    <div><label for="description">Description of Competition:</label></div> 
                    <div><textarea style="resize:none" name="description" placeholder="Description" required></textarea></div>   
                 </div>
                <div class="formentity">
                    <button>Organize!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

   function disableevent() {
        let events = document.querySelector("#events").value;
        if(events != "competitionss")
        {
            let voting = document.getElementsByName("voting");

            voting.disabled = true;
        }
   }

//    function datecheck() {
//         let date = document.getElementsByName("date").value;
//         console.log(date);
//         if(date.getTime() >= festfrom.getTime() && date.getTime() <= festto.getTime())
//         {
//             return true;
//         }
//         else
//         {
//             // let name = document.getElementsByName("name");
//             // let events = document.getElementsByName("events");
//             // let shours = document.getElementsByName("shours");
//             // let sminutes = document.getElementsByName("sminutes");
//             // let ehours = document.getElementsByName("ehours");
//             // let eminutes = document.getElementsByName("eminutes");
//             // let venue = document.getElementsByName("venue");
//             // let address = document.getElementsByName("address");
//             // let city = document.getElementsByName("city");
//             // let voting = document.getElementsByName("voting");
//             // let description = document.getElementsByName("description");
//             // name.value = name.textContent;
//             // events.value = events.textContent;
//             // shours.value = shours.textContent;
//             // sminutes.value = sminutes.textContent;
//             // ehours.value = ehours.textContent;
//             // eminutes.value = eminutes.textContent;
//             // venue.value = venue.textContent;
//             // address.value = address.textContent;
//             // city.value = city.textContent;
//             // voting.value = voting.textContent;
//             // description.value = description.textContevents
//             alert("Date of competition should be between the dates of the fest!!!")
//             return false;
//         }
//    }

</script>


<%- include("partials/footer") %>
