<%- include("partials/header") %>

<button onclick="window.location.href='/'">Home</button>

<style>
.container{
    width:40%;
    height: 50%;
    border:1px solid #dadce0;
    margin:3rem auto 5rem auto;
    text-align: center;
}
.formcontent{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.formgroup{
    padding:1rem 0 1rem 0;
}
input{
    border:1px solid #dadce0;
}
input.textfield{
    width:100%;
    height:2.7rem;
}
.datecontent{
   padding:1rem 0 0 0;
}
.innerarea{
    border:1rem solid white
}
input.dt{
    width:45%;
    height:2.7rem;
}
</style>    

<div class="container">
    <div class="formcontent">
      <div>
        <h3>Add Fest</h3>
      </div>
    <div class="innerarea">
        <form class="form" action="/newfest" method="POST">
            <div class = "formgroup">
                <input type="text" class="textfield" name="collegename" placeholder="College Name" required>
            </div>
            <div class = "formgroup">
                <input type="text" class="textfield" name="festname" placeholder="Fest Name" required>
            </div>
            <div class = "formgroup">
                <input type="text" class="textfield" name="type" placeholder="Type of Fest" required>
            </div>
            <div class="datecontent">
                <span style="font-size:1rem; padding-bottom:0.6rem; font-weight: 500; width:50%; float:left; text-align:center">Start Date</span>
                <span style="font-size:1rem; padding-bottom:0.6rem; font-weight: 500; width:50%; float:right; text-align:center;">End Date</span>
            </div>
            <div>
            <span style="padding-right:2rem"><input type="date" class="dt" name="from"></span>
            <span><input type="date" class="dt" name="to"></span>
            </div>
            <div style="padding: 3rem 0 0 0;">
            <button class="btn btn-large btn-primary submit" type="submit">Add Fest and Enjoy!</button>
            </div>
        </form>
    </div>
  </div>
</div>


<div class="container">
    <div class="displayform">
        <%var months = [
         'Jan', 'Feb', 'Mar', 'Apr', 'May',
         'Jun', 'Jul', 'Aug', 'Sep',
         'Oct', 'Nov', 'Dec'
         ];%>
        <%var i;%>
             <table>
                 <tr>
                    <th>FEST Name</th>
                    <th>COLLEGE Name</th>
                    <th>TYPE of Fest</th>
                 </tr>
                <%for(i=0;i<fests.length;i++){ %> 
                    <tr>
                        <td>
                            <a href="/cordhome/<%= fests[i].festname %>" >
                                <span class="festdetails">
                                    <%=fests[i].festname%>
                                </span>
                               </a>
                        </td>
                          <td>
                            <span class="festdetails">
                                <%=fests[i].college%>
                            </span>
                          </td>
                           <td>
                            <span class="festdetails">
                                <%=fests[i].type%>
                            </span>
                           </td>
                            <td>
                            <span class="festdetails">
                                <% let suffix;
                                    switch((fests[i].from.getDate())%10) {
                                        case 1: suffix = "st";
                                                break;
                                        case 2: suffix = "nd";
                                                break;
                                        case 3: suffix = "rd";
                                                break;
                                        default: suffix = "th";
                                    } %>
                                <%=fests[i].from.getDate()%><%=suffix%> <%=months[fests[i].from.getMonth()]%>, <%=fests[i].from.getFullYear()%> to
                            </span>
                          </td>
                          <td>
                            <span class="festdetails">
                                <% suffix;
                                    switch((fests[i].to.getDate())%10) {
                                        case 1: suffix = "st";
                                                break;
                                        case 2: suffix = "nd";
                                                break;
                                        case 3: suffix = "rd";
                                                break;
                                        default: suffix = "th";
                                    } %>
                                <%=fests[i].to.getDate()%><%=suffix%> <%=months[fests[i].to.getMonth()]%>, <%=fests[i].to.getFullYear()%>
                            </span>
                          </td>
                    </tr>
                 <%}%>
             </table>
    </div>    
</div>

<%- include("partials/footer") %>
