<%- include("partials/header") %>

<style>
    
    tr {
        margin: 10px auto;
        background-color: lightpink;
    }

    td {
        margin: auto 10px;
    }
    th {
        margin: auto 10px;
    }
    
    .festdetails {
        margin: 30px 30px;
    }
    .fests {
        margin: 10px auto;
        border: 2px solid black;
        background-color: lightpink;
    }
    
</style>

<div class="container">
    <div>
        <h1>ADD NEW FEST TO THE SEASON!</h1>
    </div>
    <div class="form-group formcontent">
        <form class="form" action="/newfest" method="POST">
            <div class = "formentity">
                <label for="collegename">College Name</label>
                <input type="text" name="collegename" placeholder="College Name" required>
            </div>
            <div class = "formentity">
                <label for="festname">Fest Name</label>
                <input type="text" name="festname" placeholder="Fest Name" required>
            </div>
            <div class = "formentity">
                <label for="type">Type of Fest</label>
                <input type="text" name="type" placeholder="Type of Fest" required>
            </div>
            <button class="btn btn-large btn-primary submit" type="submit">Add Fest and Enjoy!</button>
        </form>
    </div>

</div>

<div class="container">
    <div class="displayform">
        <%var i;%>
             <table>
                 <tr>
                    <th>FEST Name</th>
                    <th>COLLEGE Name</th>
                    <th>TYPE of Fest</th>
                 </tr>
                <%for(i=0;i<fests.length;i++){ %> 
                    <tr>
                        <td>
                            <a href="/cordhome/<%= fests[i].festname %>" >
                                <span class="festdetails">
                                    <%=fests[i].festname%>
                                </span>
                               </a>
                        </td>
                          <td>
                            <span class="festdetails">
                                <%=fests[i].college%>
                            </span>
                          </td>
                           <td>
                            <span class="festdetails">
                                <%=fests[i].type%>
                            </span>
                           </td>
                    </tr>
                 <%}%>
             </table>
    </div>    
</div>

<%- include("partials/footer") %>