<button><a href="/">Home</a></button>
<style>
    .container {
        width:45%;
        padding: 50px 50px;
    }
</style>

<% let months = new Map();
    months.set(1,"January");
    months.set(2,"February");
    months.set(3,"March");
    months.set(4,"April");
    months.set(5,"May");
    months.set(6,"June");
    months.set(7,"July");
    months.set(8,"August");
    months.set(9,"September");
    months.set(10,"October");
    months.set(11,"November");
    months.set(12,"December"); %>

<% let days = new Map();
    days.set(1,"Monday");
    days.set(2,"Tuesday");
    days.set(3,"Wednesday");
    days.set(4,"Thursday");
    days.set(5,"Friday");
    days.set(6,"Saturday");
    days.set(7,"Sunday"); %>

<div class="container">
    <div>
        <h1>BRING NEW COMPETITION TO THE PARTY!</h1>
    </div>
    <div class="formcontent">
        <form action="/cordhome/<%=fest%>" method="POST">
            <div class="formentity">
                <label for="type">Type of Competition:</label>
                <select name="events" required>
                    <option value="" disabled selected>Event type</option>
                    <option value="competitionss">Competition-single</option>
                    <option value="competitionsd">Competition-dual</option>
                    <option value="concerts">Concerts</option>
                </select>
            </div>
            <div class="formentity">
                <label for="name">Name of Competition:</label>
                <input type="text" name="name" required>
            </div>
            <div class="formentity">
                <!-- to be included using "formidable" package -->
                <label for="imageupload">Upload image:</label>
                <input type="text" name="imageupload"> 
            </div>
            <div class="formentity">
                <label for="description">Description of Competition:</label>
                <textarea name="description" required></textarea>
            </div>
            <div class="formentity">
                <label for="date">Date:</label>
                <input type="date" name="date" required>
            </div>
            <div class="formentity">
                <label for="time">Start Time:</label>
                <select name="shours">
                    <% for(var i=0;i<24;i++) { %> 
                        <option value="<%=i%>"><%if(i/10 < 1){%>0<%}%><%=i%> </option>
                    <%} %>
                </select>
                <select name="sminutes">
                    <% for(var i=0;i<60;i++) { %> 
                        <option value="<%=i%>"><%if(i/10 < 1){%>0<%}%><%=i%></option>
                    <%} %>
                </select>
            </div>
            <div class="formentity">
                <label for="time">End Time:</label>
                <select name="ehours">
                    <% for(var i=0;i<24;i++) { %> 
                        <option value="<%=i%>"><%if(i/10 < 1){%>0<%}%><%=i%> </option>
                    <%} %>
                </select>
                <select name="eminutes">
                    <% for(var i=0;i<60;i++) { %> 
                        <option value="<%=i%>"><%if(i/10 < 1){%>0<%}%><%=i%></option>
                    <%} %>
                </select>
            </div>
            <div class="formentity">
                <label for="venue">Venue:</label>
                <input type="text" name="venue" required>
            </div>
            <div class="formentity">
                <label for="voting" >Will there be any voting?</label>
                <select name="voting" required>
                    <option value="select" selected>Select</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>  
            <div class="formentity">
                <button>Organize!</button>
            </div>
        </form>
    </div>
</div>

<% var i%>
<% for(i=0;i<fests.competitions.length; i++){ %> 
    <div>
        Name : <%=fests.competitions[i].name%>
    </div>
    <div>
        Uploaded Image : <%=fests.competitions[i].imageUpload%>
    </div>
    <div>
        Description : <%=fests.competitions[i].descr%>
    </div>
    <div>

        <% let suffix;
        switch((fests.competitions[i].date.getDate())%10) {
            case 1: suffix = "st";
                    break;
            case 2: suffix = "nd";
                    break;
            case 3: suffix = "rd";
                    break;
            default: suffix = "th";
        } %>
        Date : <%=fests.competitions[i].date.getDate()%><%=suffix%><%=months.get(fests.competitions[i].date.getMonth()+1)%> 
        <%=fests.competitions[i].date.getFullYear()%>, 
        <%=days.get(fests.competitions[i].date.getDay())%>

    </div>
    <div>
        Venue : <%=fests.competitions[i].venue%>
    </div>
    <div>
        Voting : <%=fests.competitions[i].voting%>
    </div>
    <div> 
        Start Time : <%=fests.competitions[i].starttime.getHours()%>:<%=fests.competitions[i].starttime.getMinutes()%>
        End Time : <%=fests.competitions[i].endtime.getHours()%>:<%=fests.competitions[i].endtime.getMinutes()%>
    </div>
    <hr>
<% } %>
</div>
</div>






       