<%- include("partials/header") %>

<script type="text/javascript">
    function preback(){
      window.history.forward();
    }
    setTimeout("preback()", 0);
    window.onunload=function(){null};
  </script>


<style>
    #back:hover {
        cursor: pointer;
    }
  </style>
  <div id="backicon">
    <i class="fa fa-arrow-left" id="back" aria-hidden="true" style="font-size: 1.5rem; margin-top: 1%" onclick="window.location.href='/'"></i>
  </div>

<style>
    .container {
        width:45%;
        padding: 50px 50px;
    }
    .container1 {
        margin: 1% 1%;   
    }
</style>


<style>
    #add:hover {
        cursor: pointer;
        margin: 0.1%;
    }
    #add2:hover {
        cursor: pointer;
        margin: 0.1%;
    }
    .add {
        margin:0.4%;
    }
    /* .title {
        margin-right: 0.01%;
    } */
    
</style>

<div class="container1">
    <i class="fa fa-plus" aria-hidden="true" style="font-size: 1.5rem; margin: 0.4%; " class="add" id="add" title="Add Event" onclick="window.location.href='/cordhome/<%=fest%>/addcompetitions'"></i>


<i class="fa fa-user-plus" aria-hidden="true" style="font-size: 1.5rem; margin: 0.4%;  " class="add" id="add2" title="Add Coordinator" onclick="window.location.href='/cordhome/<%=fest%>/addcoordinator'"></i>

<button onclick="window.location.href='/Visitorhome'">Visitor</button>

<!-- <button onclick="window.location.href='/candidateserror'">
    Candidates error
</button>
<button onclick="window.location.href='/competitionserror'">
    Competitions error
</button> -->

<% let months = new Map();
    months.set(1,"Jan");
    months.set(2,"Feb");
    months.set(3,"Mar");
    months.set(4,"Apr");
    months.set(5,"May");
    months.set(6,"Jun");
    months.set(7,"Jul");
    months.set(8,"Aug");
    months.set(9,"Sep");
    months.set(10,"Oct");
    months.set(11,"Nov");
    months.set(12,"Dec"); %>

 <!-- let days = new Map();
    days.set(1,"Monday");
    days.set(2,"Tuesday");
    days.set(3,"Wednesday");
    days.set(4,"Thursday");
    days.set(5,"Friday");
    days.set(6,"Saturday");
    days.set(7,"Sunday");  -->

    <style>
        #iconsubmit {
            outline:none;
            border:0;
            background-color: white;
        }
        #icon:focus {
            border: 2px solid black;
            box-shadow: rgb(49, 49, 49);
        }
    </style>

<% var i%>
<% for(i=0;i<fests.competitions.length; i++){ %>
    <div>
        <strong>Name :</strong> <%=fests.competitions[i].name%>
    </div>
    <div>
        <strong>Description :</strong> <%=fests.competitions[i].descr%>
    </div>
    <div>

        <% let suffix;
        switch((fests.competitions[i].date.getDate())%10) {
            case 11: suffix = "th";
                        break;
            case 1: suffix = "st";
                    break;
            case 2: suffix = "nd";
                    break;
            case 3: suffix = "rd";
                    break;
            default: suffix = "th";
        } %>
        <strong>Date :</strong> <%=fests.competitions[i].date.getDate()%><%=suffix%> <%=months.get(fests.competitions[i].date.getMonth()+1)%>
        <%=fests.competitions[i].date.getFullYear()%>
    </div>
    <div>
        <strong>Venue :</strong> <%=fests.competitions[i].venue%>
    </div>
    <div>
        <strong>Voting :</strong> <%=fests.competitions[i].voting%>
    </div>
    <div>
        <%if((fests.competitions[i].type=="competitionsd" && fests.competitions[i].currentcand.length == 0)||(fests.competitions[i].voting==true && fests.competitions[i].type=="competitionss" && fests.competitions[i].currentround.length == 0)){%>
           <button><a href="/cordhome/<%=fests.festname%>/<%=fests.competitions[i]._id%>/start">View</a></button>
        <%}else if((fests.competitions[i].type=="competitionsd")||(fests.competitions[i].type=="competitionss" && fests.competitions[i].voting==true)){%>
            <button><a href="/cordhome/<%=fests.festname%>/<%=fests.competitions[i]._id%>">View</a></button>
        <%}else if(fests.competitions[i].type=="competitionss" && fests.competitions[i].voting==false){%>
            <button><a href="/cordhome/<%=fests.festname%>/<%=fests.competitions[i]._id%>/viewcandidates">View</a></button>
        <%}%>
        <div style="margin: 0.8% 1.1%;">
            <form action="/cordhome/<%=fests.festname%>/<%=fests.competitions[i]._id%>/delete" method="POST">
                <button type="submit" id="iconsubmit"><i class="fa fa-trash-o" aria-hidden="true" id="icon" style="font-size: 1.5rem;"></i></button>
            </form>
        </div>
    </div>
    <hr>
<% } %>
<%- include("partials/footer") %>





