<form action="/cordhome/<%=fest%>" method="POST">
        <div>
            <label for="type">Type of Competition:</label>
            <input type="text" name="type" required>
        </div>
        <div>
            <label for="name">Name of Competition:</label>
            <input type="text" name="name">
        </div>
        <div>
            <!-- to be included using "formidable" package -->
            <label for="imageupload">Upload image:</label>
            <input type="text" name="imageupload" > 
        </div>
        <div>
            <label for="description">Description of Competition:</label>
            <textarea name="description" required></textarea>
        </div>
        <div>
            <label for="datetime">Date and Timing</label>
            <input type="date" name="datetime" required>
        </div>
        <div>
            <label for="venue">Venue for Competition:</label>
            <input type="text" name="venue" required>
        </div>
        <div>
            <label for="candidates">Number of Candidates participating:</label>
            <input type="number" name="candidates" required>
        </div>
        <div>
            <label for="voting" >Will there be any voting?</label>
            <select name="voting" required>
                <option value="select" selected>Select</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <div>
            <label for="mobile">Mobile No.:</label>
            <input type="number" required>
        </div>    
        <div>
            <button>Organize!!</button>
        </div>
        <!-- type: String,
        name: String,
        imageUpload: String, // may be an image url
        descr: String,
        dateTiming: Date,
        venue: String,
        candidates: Number, //number of candidates
        voting: Boolean,
        Mobile: Number -->
        <% for(var i=0;i<fests["competitions"].length; i++){ %> 
            <div>
                Type : <%=fests.competitions[i].type%>
            </div>
            <div>
                Name : <%=fests.competitions[i].name%>
            </div>
            <div>
                Uploaded Image : <%=fests.competitions[i].imageUpload%>
            </div>
            <div>
                Description : <%=fests.competitions[i].descr%>
            </div>
            <div>
                Date : <%=fests.competitions[i].dateTiming%>
            </div>
            <div>
                Time : <%=fests.competitions[i].dateTiming.getTime()%>
            </div>
            <div>
                Venue : <%=fests.competitions[i].venue%>
            </div>
            <div>
                Candidates : <%=fests.competitions[i].candidates%>
            </div>
            <div>
                Voting : <%=fests.competitions[i].voting%>
            </div>
            <div>
                Mobile : <%=fests.competitions[i].Mobile%>
            </div>
        <% } %>
       
</form>