<%-include("partials/header")%>

<script type="text/javascript">
    function preback(){
      window.history.forward();
    }
    setTimeout("preback()", 0);
    window.onunload=function(){null};
  </script>
  
  <style>
      .carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
  </style>

<div style="height: 33rem; overflow: hidden;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active" style="height:32rem">
          <img class="d-block w-100" src="ds images\concert.jpg" alt="First slide">
          <div class="carousel-caption">
           <h2><a href="/cordhome" style="color:white;">Create Your Own Fest Today</a></h2>
          </div>
      </div>
      <div class="carousel-item" style="height:32rem">
          <img class="d-block w-100" src="ds images\college-fest.jpg"  alt="Second slide">
          <<div class="carousel-caption d-none d-md-block">
            <h2><a href="/Visitorhome" style="color:white;">Enjoy Exciting Fests this Fest Season!</a></h2>
          </div>
      </div>
      <div class="carousel-item"  style="height:32rem">
          <img class="d-block w-100" src="ds images\college-fest-1050x591.jpg" style="opacity: 75%;"alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h2><a href="/Visitorhome" style="color:white;">Don't be too prude, refresh your mood!!!</a></h2>
          </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>



<style>
    #add:hover {
        cursor: pointer;
    }
    .container{
        margin:2rem auto;
        text-align: center;
    }
</style>
<div class="container">
<i class="fa fa-plus" aria-hidden="true" style="font-size: 1.5rem; margin: 0.4%; " id="add" title="Add Fest" onclick="window.location.href='/cordhome'"></i>
<button><a href="/Visitorhome">Visitor</a></button>

<%if(user==null){%>
    <div style="margin:2rem auto 2rem auto">
        <a class="btn btn-primary" href="/login">Please Login</a>
    </div>
<%}else{%>

        <%var i%>
        <%var months = [
         'Jan', 'Feb', 'Mar', 'Apr', 'May',
         'Jun', 'Jul', 'Aug', 'Sep',
         'Oct', 'Nov', 'Dec'
         ];%>
       
             <table style="text-align:center; margin:2rem auto 2rem auto">
                <%for(i=0;i<A.length;i++){ %> 
                    <tr>
                      
                        <td>
                            <a href="/cordhome/<%=A[i][0]%>" >
                                <span class="festdetails">
                                    <%=A[i][0]%>
                                </span>
                            </a>
                        </td>
                        <td>
                            <span class="festdetails">
                                <%=A[i][1]%>
                            </span>
                        </td>
                        <td>
                            <span class="festdetails">
                                <%=A[i][2]%>
                            </span>
                        </td>
                        <td>
                            <span class="festdetails">
                                <% let suffix;
                                    switch((A[i][3].getDate())%10) {
                                        case 1: suffix = "st";
                                                break;
                                        case 2: suffix = "nd";
                                                break;
                                        case 3: suffix = "rd";
                                                break;
                                        default: suffix = "th";
                                    } %>
                                <%=A[i][3].getDate()%><%=suffix%> <%=months[A[i][3].getMonth()]%>, <%=A[i][3].getFullYear()%> to
                            </span>
                        </td>
                        <td>
                            <span class="festdetails">
                                <% suffix;
                                    switch((A[i][4].getDate())%10) {
                                        case 1: suffix = "st";
                                                break;
                                        case 2: suffix = "nd";
                                                break;
                                        case 3: suffix = "rd";
                                                break;
                                        default: suffix = "th";
                                    } %>
                                <%=A[i][4].getDate()%><%=suffix%> <%=months[A[i][4].getMonth()]%>, <%=A[i][4].getFullYear()%>
                            </span>
                        </td>
                    </tr>
                  <%}%>
             </table>
<%}%>
</div>
<%-include("partials/footer")%>