<%-include("partials/header")%>
<h1>Live</h1>
<div class="container" style="width:70%">
   <div class="row"> 
   <div class="competitor col-md-5">
       <div>
         <form action="/cordhome/<%=fest.festname%>/<%=registrations._id%>/<%=registrations.candidates[0]._id%>" method="POST">   
           <input type="text" name="score1">
           <button>Arrow</button>
           <%=registrations.candidates[0].name%>
         </form>  
       </div>
   </div>
   <div class="col-md-1" style="text-align: center;">
      VS
   </div>
   <div class="competitor col-md-5">
       <div>
         <form action="/cordhome/<%=fest.festname%>/<%=registrations._id%>/<%=registrations.candidates[1]._id%>" method="POST">
            <%=registrations.candidates[1].name%>
            <input type="text" name="score2">
           <button>Arrow</button>
         </form>
       </div>
   </div>
   </div>
</div>
<table class="schedulelist">
   <% let i; %>
   <% for(i=2;i<registrations.candidates.length-1;i+=2) {%> 
           
            <div>
            <%=registrations.candidates[i].name%>
            </div>
            <div>
             vs
            </div>
            <div>
           <%=registrations.candidates[i+1].name%>
           </div>
   <%}%>
</table>

