<%- include("partials/header") %>


<script type="text/javascript">
    function preback(){
      window.history.forward();
    }
    setTimeout("preback()", 0);
    window.onunload=function(){null};
  </script>


<style>
    .hidden{
        display:none;
    }
    .show{
        background-color: aliceblue;
    }
    .active{
        color: white;
        background:#1A73E8;
    }
    .disabled{
        pointer-events: none;
        color :#1A73E8;
        border-bottom: 1px solid #1A73E8;
    }
    .container{
        text-align: center;
    }
    button{
        border:0;
        width:7rem;
        font-weight: 600;
    }
    button:focus{
        outline:none !important;
    }
</style>

<% let months = new Map();
    months.set(1,"Jan");
    months.set(2,"Feb");
    months.set(3,"Mar");
    months.set(4,"Apr");
    months.set(5,"May");
    months.set(6,"Jun");
    months.set(7,"Jul");
    months.set(8,"Aug");
    months.set(9,"Sep");
    months.set(10,"Oct");
    months.set(11,"Nov");
    months.set(12,"Dec"); %>

<%const it1 = N.keys()%>
<%const s = N.size%>
<div style="text-align: center; background:#1A73E8;">
<%for(i=0;i<N.size;i++){%>
    <button id="festb<%=i%>"><%=N.get(it1.next().value)%></button> 
<%}%>    
</div>

<%var i,j,id;%>
  <% const it = N.keys();%>
<div class="conatiner" style="text-align:center; margin:2rem auto 2rem auto;">
     <%for(i=0;i<N.size;i++){%>
         <%const fid = it.next().value%> 
         <div id="festd<%=i%>">  
         <%for(j=0;j<A.length;j++){ %> 
               <%const compid = JSON.stringify(A[j][0])%>
               <%const a = fid.localeCompare(compid)%>
               <%if(a == 0){%>
               
                    <div id="yes"><%=A[j][3]%></div>
                    <div><% let suffix;
                    switch((A[j][4].getDate())%10) {
                        case 11: suffix = "th";
                                    break;
                        case 1: suffix = "st";
                                break;
                        case 2: suffix = "nd";
                                break;
                        case 3: suffix = "rd";
                                break;
                        default: suffix = "th";
                    } %>
                    Date : <%=A[j][4].getDate()%><%=suffix%><%=months.get(A[j][4].getMonth()+1)%> 
                    <%=A[j][4].getFullYear()%>
                    </div>
                    <div> 
                        Start Time : <%=A[j][5].getHours()%>:<%if(A[j][5].getMinutes()<10) {%>0<%}%><%=A[j][5].getMinutes()%>
                        End Time : <%=A[j][6].getHours()%>:<%if(A[j][6].getMinutes()<10) {%>0<%}%><%=A[j][6].getMinutes()%>
                    </div>
                  
               <%}%>
                            
          <%}%>
          <hr>
         </div>
          
    <%}%>  
</div>     

<script>
    var n = <%=s%>;
    var i;
    document.querySelector("#festb0").classList.toggle("disabled");
    document.querySelector("#festd0").classList.toggle("show");

    for(i=1;i<n;i++)
    {
        document.querySelector(`#festb`+i).classList.toggle("active");
        document.querySelector(`#festd`+i).classList.toggle("hidden");
    }

    
    for(let i=0;i<n;i++)
    {
        document.querySelector(`#festb`+i).addEventListener("click",(e)=>{
            console.log(i);
                    if(document.querySelector(`#festd`+i).classList.contains("hidden"))
                    {
                         document.querySelector(`#festd`+i).className = "show";
                    }
                    if(document.querySelector(`#festb`+i).classList.contains("active"))
                    {
                         document.querySelector(`#festb`+i).className = "disabled";
                    }
                    for(j=0;j<n;j++)
                    {
                        if(j!=i)
                        {
                            if(document.querySelector(`#festd`+j).classList.contains("show"))
                            {
                               document.querySelector(`#festd`+j).className = "hidden";
                            }
                           if(document.querySelector(`#festb`+j).classList.contains("disabled"))
                            {
                               document.querySelector(`#festb`+j).className = "active";
                            }
                        }
                    }
               });
              
    }
</script>

<%- include("partials/footer") %>
