<%-include("partials/header")%>
<h1>Visitor Home Page</h1>

<%var i;%>
         <%for(i=0;i<fests.length;i++){ %> 
            <div>
                <a href="/Visitorhome/<%= fests[i].festname %>" >
                 <%=fests[i].festname%>
                 <%=fests[i].college%>
                 <%=fests[i].type%>
                </a>
            </div>
         <%}%>
<%-include("partials/footer")%>