<%- include("partials/header") %>
<style>
    #back:hover {
        cursor: pointer;
    }
  </style>
<%if(ch==0){%>
    <i class="fa fa-arrow-left" id="back" aria-hidden="true" style="font-size: 2rem; margin-top: 1%;margin-left: 1%;" onclick="window.location.href='/Visitorhome/<%=fest.festname%>'"></i>
    
     <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title"> <%=doc.currentround[0].name%></h3>
          <form action="/Visitorhome/<%=fest.festname%>/<%=doc._id%>/vote" method="POST">
            <div>
                <button>Yes Tick</button>
            </div>
         </form>
         <div>
            <button>Cross</button>
         </div>
        </div>
      </div>
<%}else{%>
    <h2>You have already voted for this contestant</h2>
    <h4>Please wait for the next candidate</h4>
<%}%>
 <script>
     document.querySelector(".active").addEventListener("click",(e)=>{
         document.querySelector(".active").className = "disabled";   
     });
 </script>

 <%- include("partials/footer") %>