<%- include("partials/header") %>
<style>
    .disabled{
        pointer-events:none;
        color:blue;
    }
</style>


<style>
    #back:hover {
        cursor: pointer;
    }
  </style>
  <i class="fa fa-arrow-left" id="back" aria-hidden="true" style="font-size: 2rem; margin-top: 1%;margin-left: 1%;" onclick="window.location.href='/cordhome/<%=fest.festname%>'"></i>

 <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title"> <%=doc.currentround[0].name%></h3>
      <form action="/Visitorhome/<%=fest.festname%>/<%=doc._id%>/vote" method="POST">
        <div>
            <button class="active">Yes Tick</button>
        </div>
     </form>
     <div>
        <button class="active">Cross</button>
     </div>
    </div>
  </div>
 
 <script>
     document.querySelector(".active").addEventListener("click",(e)=>{
         document.querySelector(".active").className = "disabled";   
     });
 </script>

 <%- include("partials/footer") %>