<%-include("partials/header")%>

<style>
    #back:hover {
        cursor: pointer;
    }
  </style>
  <i class="fa fa-arrow-left" id="back" aria-hidden="true" style="color:#1A73E8; font-size: 2rem; margin-top: 1%;margin-left: 1%;" onclick="window.location.href='/Visitorhome'"></i>
    
    
<script type="text/javascript">
    function preback(){
      window.history.forward();
    }
    setTimeout("preback()", 0);
    window.onunload=function(){null};
  </script>
  
  <% let months = new Map();
  months.set(1,"Jan");
  months.set(2,"Feb");
  months.set(3,"Mar");
  months.set(4,"Apr");
  months.set(5,"May");
  months.set(6,"Jun");
  months.set(7,"Jul");
  months.set(8,"Aug");
  months.set(9,"Sep");
  months.set(10,"Oct");
  months.set(11,"Nov");
  months.set(12,"Dec"); %>

<% var i%>

<div style="text-align: center;">
<div class="row" style="margin:2rem 2rem 2rem 2rem">
    <% for(i=0;i<fests.competitions.length; i++){ %> 
        <div class="col-md-4" style="width:33%; margin-top:3rem;">  
            <div class="card" style="width: 18rem; height:18rem; text-align: left;">
                 <div class="card-body" style="padding:0; border:1.7rem solid white;">
                    <div style="margin-bottom: 1.5rem;">  
                        <div style="font-weight:700; font-size: 1.3rem;">
                            <%=fests.competitions[i].name%>
                        </div>
        
        
                        <div style="word-wrap: break-word;">
                            <%=fests.competitions[i].descr%>
                        </div>
        
        
                        <div>
                            <% let suffix;
                            switch((fests.competitions[i].date.getDate())%10) {
                                case 11: suffix = "th";
                                            break;
                                case 1: suffix = "st";
                                        break;
                                case 2: suffix = "nd";
                                        break;
                                case 3: suffix = "rd";
                                        break;
                                default: suffix = "th";
                            } %>
                            <strong>Date :</strong> <%=fests.competitions[i].date.getDate()%><%=suffix%> <%=months.get(fests.competitions[i].date.getMonth()+1)%> 
                            <%=fests.competitions[i].date.getFullYear()%>
                        </div>
        
        
                        <div>
                            <span> 
                                <strong>Time :</strong> <%=fests.competitions[i].starttime.getHours()%>:<%if(fests.competitions[i].starttime.getMinutes()<10){%>0<%}%><%=fests.competitions[i].starttime.getMinutes()%>
                            </span>
                            <span>
                                - <%=fests.competitions[i].endtime.getHours()%>:<%if(fests.competitions[i].starttime.getMinutes()<10){%>0<%}%><%=fests.competitions[i].endtime.getMinutes()%>
                            </span>
                        </div> 
                        
                        <div>
                            <strong>Venue :</strong> <%=fests.competitions[i].venue%>
                        </div>
                     </div>
                        
                     <div class="row" style="width:100%; margin:auto 0 1rem 0; bottom: 0; position: absolute;">
                        <div style="width:40%">          
                            <%if(fests.competitions[i].type == "competitionss"){%>
                         
                             <form action="/Visitorhome/<%=fest%>/<%= fests.competitions[i]._id%>">
                                 <button class="btn btn-info">Vote</button> 
                             </form> 
                             <%}%>    
                            <%if(fests.competitions[i].type == "competitionsd" && fests.competitions[i].resultsrelease==true){%>
                                
                                <form  action="/cordhome/<%=fest%>/<%= fests.competitions[i]._id%>/results">
                                    <button class="btn btn-info">View</button> 
                                </form> 
                            <%}%>
                        </div>  
                        <div style="width:60%; float:right">
                        <form  style="text-align: center; display: inline-block;" action="/Visitorhome/<%=fest%>/<%= fests.competitions[i]._id%>" method="POST">
        
                            <%if(fests.competitions[i].type == "competitionsd" || fests.competitions[i].type == "competitionss"){%> 
                                  <button class="btn btn-primary" id="registerb" name="register" value="register">Register</button>
                                
                             <%}%>  
        
                                  <button id="scheduleb" class="btn btn-success" style="border:0; font-size:1.1rem; " name="schedule" value="schedule"><i class="fa fa-calendar-o" style="color:white" aria-hidden="true"></i></button>
                        </form> 
                        </div>
                     </div>

                </div>
            </div>           
        </div>  
    <% } %>
</div>
</div>
<%-include("partials/footer")%>