<a href="/">Home</a>



<% for(var i=0;i<fests.competitions.length; i++){ %> 
    <div>
        Type : <%=fests.competitions[i].type%>
    </div>
    <div>
        Name : <%=fests.competitions[i].name%>
    </div>
    <div>
        Uploaded Image : <%=fests.competitions[i].imageUpload%>
    </div>
    <div>
        Description : <%=fests.competitions[i].descr%>
    </div>
    <div>
        Date : <%=fests.competitions[i].dateTiming%>
    </div>
    <div>
        Time : <%=fests.competitions[i].dateTiming.getTime()%>
    </div>
    <div>
        Venue : <%=fests.competitions[i].venue%>
    </div>
    <div>
        Candidates : <%=fests.competitions[i].candidates%>
    </div>
    <div>
        Voting : <%=fests.competitions[i].voting%>
    </div>
    <div>
        Mobile : <%=fests.competitions[i].Mobile%>
    </div>
<% } %>
