<%-include("partials/header")%>
<button onclick="window.location.href='/'">Home</button>

<button onclick="window.location.href='/Visitorhome'">Back</button>
    
<% let months = new Map();
    months.set(1,"Jan");
    months.set(2,"Feb");
    months.set(3,"Mar");
    months.set(4,"Apr");
    months.set(5,"May");
    months.set(6,"Jun");
    months.set(7,"Jul");
    months.set(8,"Aug");
    months.set(9,"Sep");
    months.set(10,"Oct");
    months.set(11,"Nov");
    months.set(12,"Dec"); %>

 <!-- let days = new Map();
    days.set(1,"Monday");
    days.set(2,"Tuesday");
    days.set(3,"Wednesday");
    days.set(4,"Thursday");
    days.set(5,"Friday");
    days.set(6,"Saturday");
    days.set(7,"Sunday");  -->


<% var i%>

<% for(i=0;i<fests.competitions.length; i++){ %> 

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
    <p class="card-text">
        
        <div>
            <strong>Name :</strong> <%=fests.competitions[i].name%>
        </div>
    
        <div>
            <strong>Description :</strong> <%=fests.competitions[i].descr%>
        </div>
        <div>
            <% let suffix;
            switch((fests.competitions[i].date.getDate())%10) {
                case 1: suffix = "st";
                        break;
                case 2: suffix = "nd";
                        break;
                case 3: suffix = "rd";
                        break;
                default: suffix = "th";
            } %>
            <strong>Date :</strong> <%=fests.competitions[i].date.getDate()%><%=suffix%> <%=months.get(fests.competitions[i].date.getMonth()+1)%> 
            <%=fests.competitions[i].date.getFullYear()%>, 
            <%=days.get(fests.competitions[i].date.getDay())%>
        </div>
        <div> 
            <strong>Start Time :</strong> <%=fests.competitions[i].starttime.getHours()%>:<%if(fests.competitions[i].starttime.getMinutes()<10){%>0<%}%><%=fests.competitions[i].starttime.getMinutes()%>
        </div>
        <div>
            <strong>End Time :</strong> <%=fests.competitions[i].endtime.getHours()%>:<%if(fests.competitions[i].starttime.getMinutes()<10){%>0<%}%><%=fests.competitions[i].endtime.getMinutes()%>
        </div>
        <div>
            <strong>Venue :</strong> <%=fests.competitions[i].venue%>
        </div>
        
    </p>
    <form action="/Visitorhome/<%=fest%>/<%= fests.competitions[i]._id%>" method="POST">
       <%if(fests.competitions[i].type == "competitionsd" || fests.competitions[i].type == "competitionss"){%> 
             <button id="registerb" name="register" value="register">Register</button>
        <%}%>  
             <button id="scheduleb" name="schedule" value="schedule">Schedule</button>
    </form>
        <%if(fests.competitions[i].type == "competitionss"){%>
            <button><a href="/Visitorhome/<%=fest%>/<%= fests.competitions[i]._id%>">Vote</a></button>
        <%}%>
    
    </div>
</div>
<% } %>
<%-include("partials/footer")%>